<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Seven Deadly Sins Lab Project</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon">

    <!-- Google Fonts & Icon CDN (giữ nguyên – không cần đưa vào static) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600;700&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;"></div>
    </div>
    <!-- Spinner End -->
    <!-- Topbar Start -->
    <div class="container-fluid bg-secondary top-bar wow fadeIn" data-wow-delay="0.1s">
        <div class="row align-items-center h-100">
            <div class="col-lg-4 text-center text-lg-start">
                <a href="index.html">
                    <h1 class="display-5 text-primary m-0">Aerial</h1>
                </a>
            </div>
            <div class="col-lg-8 d-none d-lg-block">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-end">
                            <div class="flex-shrink-0 btn-square bg-primary">
                                <i class="fa fa-phone-alt text-dark"></i>
                            </div>
                            <div class="ms-2">
                                <h6 class="text-primary mb-0">Call Us</h6>
                                <span class="text-white">+012 345 6789</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-end">
                            <div class="flex-shrink-0 btn-square bg-primary">
                                <i class="fa fa-envelope-open text-dark"></i>
                            </div>
                            <div class="ms-2">
                                <h6 class="text-primary mb-0">Mail Us</h6>
                                <span class="text-white">info@domain.com</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="d-flex justify-content-end">
                            <div class="flex-shrink-0 btn-square bg-primary">
                                <i class="fa fa-map-marker-alt text-dark"></i>
                            </div>
                            <div class="ms-2">
                                <h6 class="text-primary mb-0">Address</h6>
                                <span class="text-white">
                                    227 Nguyễn Văn Cừ, <br>
                                    P. Chợ Quán, TPHCM</br>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid bg-secondary px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="nav-bar">
            <nav class="navbar navbar-expand-lg bg-primary navbar-dark px-4 py-lg-0">
                <h4 class="d-lg-none m-0">Menu</h4>
                <button type="button" class="navbar-toggler me-0" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav me-auto">
                        <a href="index" class="nav-item nav-link active">Home</a>
                        <a href="about" class="nav-item nav-link">About</a>
                        <a href="{{ url_for('quiz_bp.trang_quiz') }}" class="nav-item nav-link">Quiz</a>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Main Features</a>
                            <div class="dropdown-menu bg-light m-0">
                                <a href="feature.html" class="dropdown-item">Matching</a>
                                {% if session.get("user_id") %}
                                <a href="{{ url_for('diary.diary_home') }}" class="dropdown-item">Diary</a>
                                <a href="{{ url_for('forum.show_forum') }}" class="dropdown-item">Forum</a>
                                <a href="{{ url_for('chat_expert.chat_page') }}" class="dropdown-item">Chat with Expert</a>
                                <a href="{{ url_for('booking.select_therapist') }}" class="dropdown-item">Booking Appointment</a>
                                <a href="{{ url_for('booking.my_appointments') }}" class="dropdown-item">My Appointments History</a>
                                {% else %}
                                <a href="{{ url_for('auth.login') }}" class="dropdown-item">Diary</a>
                                <a href="{{ url_for('auth.login') }}" class="dropdown-item">Forum</a>
                                <a href="{{ url_for('auth.login') }}" class="dropdown-item">Chat with Expert</a>
                                <a href="{{ url_for('auth.login') }}" class="dropdown-item">Booking Appointment</a>

                                {% endif %}

                                <a href="/chatBotIndex" class="dropdown-item">Chatbot</a>
                            </div>
                        </div>
                        <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Game</a>
                            <div class="dropdown-menu bg-light m-0">
                                <a href="game/tetris" class="dropdown-item">Tetris</a>
                                <a href="game/2048" class="dropdown-item">2048</a>
                                <a href="game/wordle" class="dropdown-item">Wordle</a>
                                <a href="game/endlessRun" class="dropdown-item">Endless Run</a>
                            </div>
                        </div>
                    </div>
                    <div class="d-none d-lg-flex ms-auto align-items-center">

                        {% if session.get("user_id") %}
                        <!-- Đã đăng nhập: nút Đăng xuất -->
                        <a class="btn btn-dark ms-2" href="{{ url_for('auth.logout') }}">
                            Đăng xuất
                        </a>

                        <!-- Icon 3 gạch (hamburger) dropdown -->
                        <div class="nav-item dropdown ms-2">
                            <a href="#"
                               class="btn btn-dark dropdown-toggle d-flex align-items-center justify-content-center px-3 py-2"
                               data-bs-toggle="dropdown"
                               aria-expanded="false"
                               title="Menu">
                                <i class="fa-solid fa-bars"></i>
                            </a>

                            <div class="dropdown-menu dropdown-menu-end bg-light m-0">
                                <!-- Bạn chỉnh các link trong này theo route của bạn -->
                                <a class="dropdown-item" href="{{ url_for('auth.logout') }}">Logout</a>
                            </div>
                        </div>
                        {% else %}
                        <!-- Chưa đăng nhập: nút Đăng nhập -->
                        <a class="btn btn-dark ms-2" href="{{ url_for('auth.login') }}">
                            Đăng nhập
                        </a>
                        <a class="btn btn-dark ms-2" href="{{ url_for('auth.register') }}">
                            Đăng ký
                        </a>
                        {% endif %}
                    </div>
                </div>
            </nav>
        </div>
    </div>
    <!-- Navbar End -->
    <!-- Carousel Start -->
    <div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="owl-carousel header-carousel py-5">
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="carousel-text">
                            <h1 class="display-1 text-uppercase mb-3">Together for a Better Tomorrow</h1>
                            <p class="fs-5 mb-5">We believe in creating opportunities and empowering communities through education, healthcare, and sustainable development.</p>
                            <div class="d-flex">
                                <a class="btn btn-primary py-3 px-4 me-3" href="">Do The Quiz</a>
                                <a class="btn btn-secondary py-3 px-4" href="">Join Us Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="carousel-img">
                            <img src="{{ url_for('static', filename='img/carousel-1.jpg') }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="container py-5">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6">
                        <div class="carousel-text">
                            <h1 class="display-1 text-uppercase mb-3">Listening, supporting, healing.</h1>
                            <p class="fs-5 mb-5">We bring understanding, hope, and brighter days to students.</p>
                            <div class="d-flex mt-4">
                                <a class="btn btn-primary py-3 px-4 me-3" href="">Do The Quiz</a>
                                <a class="btn btn-secondary py-3 px-4" href="">Join Us Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="carousel-img">
                            <img src="{{ url_for('static', filename='img/carousel-2.jpg') }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->
    <!-- Video Start -->
    <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-0">
                <div class="col-lg-11">
                    <div class="h-100 py-5 d-flex align-items-center">
                        <button type="button" class="btn-play" data-bs-toggle="modal"
                                data-src="https://www.youtube.com/embed/DWRcNpR6Kdc" data-bs-target="#videoModal">
                            <span></span>
                        </button>
                        <h3 class="ms-5 mb-0">Every student deserves a chance to shine — with care and understanding.</h3>
                    </div>
                </div>
                <div class="d-none d-lg-block col-lg-1">
                    <div class="h-100 w-100 bg-secondary d-flex align-items-center justify-content-center">
                        <span class="text-white" style="transform: rotate(-90deg);">Scroll Down</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video End -->
    <!-- Video Modal Start -->
    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Youtube Video</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                                allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video Modal End -->
    <!-- Team Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="text-center mx-auto wow fadeIn" data-wow-delay="0.1s" style="max-width: 500px;">
                <p class="section-title bg-white text-center text-primary px-3">Our Therapists</p>
                <h1 class="display-6 mb-4">Meet Our Dedicated Therapists</h1>
            </div>
            <div class="row g-4">
                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.1s">
                    <div class="team-item d-flex h-100 p-4">
                        <div class="team-detail pe-4">
                            <img class="img-fluid mb-4" src="img/team-1.jpg" alt="">
                            <h3>Therapist 1</h3>
                            <span>Field:</span>
                        </div>
                        <div class="team-social bg-light d-flex flex-column justify-content-center flex-shrink-0 p-4">
                            <a class="btn btn-square btn-primary my-2" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary my-2" href=""><i class="fab fa-x-twitter"></i></a>
                            <a class="btn btn-square btn-primary my-2" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary my-2" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.3s">
                    <div class="team-item d-flex h-100 p-4">
                        <div class="team-detail pe-4">
                            <img class="img-fluid mb-4" src="img/team-2.jpg" alt="">
                            <h3>Therapist 2</h3>
                            <span>Field: </span>
                        </div>
                        <div class="team-social bg-light d-flex flex-column justify-content-center flex-shrink-0 p-4">
                            <a class="btn btn-square btn-primary my-2" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary my-2" href=""><i class="fab fa-x-twitter"></i></a>
                            <a class="btn btn-square btn-primary my-2" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary my-2" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 wow fadeIn" data-wow-delay="0.5s">
                    <div class="team-item d-flex h-100 p-4">
                        <div class="team-detail pe-4">
                            <img class="img-fluid mb-4" src="img/team-3.jpg" alt="">
                            <h3>Therapist 3</h3>
                            <span>Field: </span>
                        </div>
                        <div class="team-social bg-light d-flex flex-column justify-content-center flex-shrink-0 p-4">
                            <a class="btn btn-square btn-primary my-2" href=""><i class="fab fa-facebook-f"></i></a>
                            <a class="btn btn-square btn-primary my-2" href=""><i class="fab fa-x-twitter"></i></a>
                            <a class="btn btn-square btn-primary my-2" href=""><i class="fab fa-instagram"></i></a>
                            <a class="btn btn-square btn-primary my-2" href=""><i class="fab fa-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Team End -->
    {% block content %}

        <div class="container-fluid p-0 wow fadeIn" data-wow-delay="0.1s">
            </div>
        <div class="container-fluid py-5">
            </div>
    {% endblock %}

    <!-- Footer Start -->
    <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5 py-5">
                <div class="col-lg-4 col-md-6">
                    <h4 class="text-light mb-4">Our Office</h4>
                    <p class="mb-2">
                        <i class="fa fa-map-marker-alt me-3"></i>227 Nguyễn Văn Cừ, <br>
                        P. Chợ Quán, TPHCM</br>
                    </p>
                    <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                    <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                    <div class="d-flex pt-3">
                        <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-x-twitter"></i></a>
                        <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-primary me-2" href=""><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h4 class="text-light mb-4">About Us</h4>
                    <p>24127552 - Nguyễn Võ Nhật Thuận</p>
                    <p>24127386 - Vũ Đỗ Mạnh Hùng</p>
                    <p>24127248 - Nguyễn Trần Phương Thúy</p>
                    <p>24127086 - Trần Hoàng Khánh My</p>
                    <p>24127302 - Nguyễn Xuân Quyên</p>
                    <p>24127106 - Lai Phạm Như Phúc</p>
                    <p>24127207 - Nguyễn Thục Nghi</p>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h6 class="text-light">Course Information</h6>
                    <p class="mb-1">Course Name: Computational Thinking</p>
                    <h6 class="text-light">Course ID: CSC10014</h6>
                    <h6 class="text-light">Lecturer:</h6>
                    <p class="mb-1">Dr. Le Ngoc Thanh</p>
                    <p class="mb-1">Mr. Huynh Lam Hai Dang</p>
                    <p class="mb-1">Mr. Nguyen Thanh Tinh</p>
                </div>
            </div>
            <div class="copyright pt-5">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a class="fw-semi-bold" href="#">Aerial</a>, All Right Reserved.
                    </div>
                    <div class="col-md-6 text-center text-md-end">
                        <!--/*** The author’s attribution link must remain intact in the template. ***/-->
                        <!--/*** If you wish to remove this credit link, please purchase the Pro Version . ***/-->
                        Designed By <a class="fw-semi-bold" href="https://htmlcodex.com">HTML Codex</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>

    <!-- Template Javascript -->
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>